{% extends "base.html"%}

{% block content %}
<section id="contact" class="page">
    <h2 class="section-title">Свяжитесь с нами</h2>
    <div class="contact-container">
        <div class="contact-info">
            <!-- Контейнер для карты -->

            <div class="map" >
                <h3 style="text-align: center; margin-bottom: 1.5rem;">Мы на карте</h3>
                <div id="map"
                     style="height: 300px; border-radius: var(--radius);"
                     data-center='{{ map_coords | tojson }}'
                     data-logo="{{ logo_path }}">
                </div>
            </div>
            <div class="contact-details">
                <h3>Наши контакты</h3>
                <div class="contact-item">
                    <i class="fas fa-map-marker-alt"></i>
                    <div>
                        <h4>Адрес</h4>
                        <p>{{address}}</p>
                    </div>
                </div>
                <div class="contact-item">
                    <i class="fas fa-phone"></i>
                    <div>
                        <h4>Телефон</h4>
                        <p>{{phone}}</p>
                    </div>
                </div>
                <div class="contact-item">
                    <i class="fas fa-envelope"></i>
                    <div>
                        <h4>Email</h4>
                        <p>{{email}}</p>
                    </div>
                </div>
                <div class="contact-item">
                    <i class="fas fa-clock"></i>
                    <div>
                        <h4>Часы работы</h4>
                        <p>Пн-Пт: 8:00 - 20:00<br>Сб-Вс: 9:00 - 18:00</p>
                    </div>
                </div>
                <div class="contact-item">
                    <i class="fab fa-vk contact-item__icon"></i>
                    <a href="{{vk_group}}" class="contact-link" target="_blank">Мы ВКонтакте</a>
                </div>
            </div>
        </div>

        <div class="contact-form">
            <h3>Напишите нам</h3>
            <form id="contactForm">
                <div class="form-group">
                    <label for="name">Ваше имя</label>
                    <input type="text" id="name" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="subject">Тема</label>
                    <input type="text" id="subject" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="message">Сообщение</label>
                    <textarea id="message" class="form-control" required></textarea>
                </div>
                <button type="submit" class="btn">Отправить сообщение</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}

{% block page_scripts %}
{{ super() }}
<script src="https://api-maps.yandex.ru/2.1/?apikey=cd75c453-5925-4862-8f2e-acd46e2b692a&lang=ru_RU"></script>
<script src="{{ url_for('static', filename='js/map.js') }}"></script>
{% endblock %}
